<!DOCTYPE html>
<html lang="ko" class="light-style customizer-hide" dir="ltr" xmlns:th="http://www.thymeleaf.org" data-theme="theme-default" data-assets-path="/assets/" data-template="vertical-menu-template-no-customizer">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<title>희의록 페이지</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<body>

	<header th:replace="fragments/header :: header"></header>

	<th:block>

		<div class="container mt-5">
			<div class="row">
				<!-- 왼쪽 절반: 희의록 목록란 -->
				<div class="col-md-6">
					<h2>희의록 목록</h2>
					<ul id="meetingList" class="list-group">
						<li th:each="meeting : ${meetings}">
							<h2 th:text="${meeting.title}"></h2>
							<p th:text="${meeting.notes}"></p>
						</li>
					</ul>
				</div>

				<!-- 오른쪽 절반: 희의록 작성 -->
				<div class="col-md-6">
					<h2>희의록 작성</h2>
					<form id="meetingForm">
						<div class="form-group">
							<label for="meetingTitle">회의 제목:</label>
							<input type="text" class="form-control" id="meetingTitle" required>
						</div>
						<div class="form-group">
							<label for="meetingNotes">회의 내용:</label>
							<textarea class="form-control" id="meetingNotes" rows="5" required></textarea>
						</div>
						<button type="submit" class="btn btn-success">저장</button>
					</form>
				</div>

			</div>
		</div>

	</th:block>



	<footer th:replace="fragments/footer :: footer"></footer>


	<!-- build:js js/core.js -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="script.js"></script>

</body>
</html>