<!DOCTYPE html>
<html lang="en" class="light-style customizer-hide" dir="ltr" xmlns:th="http://www.thymeleaf.org" data-theme="theme-default" data-assets-path="/assets/" data-template="vertical-menu-template-no-customizer">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<title>test</title>

<meta name="description" content="" />

<!-- Favicon -->
<link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon/favicon.ico}" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />

<!-- Core CSS -->
<link rel="stylesheet" th:href="@{/assets/vendor/css/core.css}" />
<link rel="stylesheet" th:href="@{/assets/vendor/css/theme-default.css}" />
<link rel="stylesheet" th:href="@{/assets/css/demo.css}" />
</head>

<body>

	<header th:replace="fragments/header :: header"></header>

	<div>
	<h1>question</h1>
	
	</div>


	<footer th:replace="fragments/footer :: footer"></footer>

	<!-- Core JS -->
	<!-- build:js assets/vendor/js/core.js -->

	<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
	<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
	<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
	<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
	<script th:src="@{/assets/vendor/js/menu.js}"></script>

</body>
</html>